---
import Layout from "../../layouts/Layout.astro";
import ImageHeader from "../../components/ImageHeader.astro";
import missions from "../../images/pages/missions.jpg";
import MissionCard from "../../components/MissionCard.astro";
---

<Layout title="Missions">
  <ImageHeader
    image={missions}
    alt="Globe representing worldwide mission work and international ministry outreach"
    title="Missions"
  />
  <div class="text-center font-oswald text-lg italic border-gray-700 pl-4 py-2">
    <blockquote>
      <p class="mb-2">
        "Whoever will call on the name of the Lord will be saved. How then will
        they call on Him in whom they have not believed? How will they believe
        in Him whom they have not heard? And how will they hear without a
        preacher? How will they preach unless they are sent? Just as it is
        written, 'How beautiful are the feet of those who bring good news of
        good things!'" <span class="text-gray-600">- Romans 10:13-15</span>
      </p>
    </blockquote>
  </div>
  <div class="flex justify-center items-center bg-gray-200 py-3">
    <div class="text-3xl font-bold text-gray-800">Domestic</div>
  </div>
  <div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <MissionCard
        name="Lloyd & Suzette Dailey"
        field="Montana"
        email="lloyd@camputmost.org"
        address="12901 Camp Utmost Way, Greenough, MT 59823"
      >
        <a href="https://www.camputmost.org/" class="underline">Camp Utmost</a> is
        a non-denominational Christian camp operated by the Rocky Mountain Bible
        Mission since 1958. The Daileys began serving as the Camp Utmost Directors
        in October 2008.
      </MissionCard>
      <MissionCard
        name="Stacy and Holly Gorton"
        field="Oregon"
        email="stacy.gorton@cru.org"
        address="7845 SE 103rd Ave, Portland, OR 97266"
        >Stacy and Holly Gorton are missionaries supported by Lone Rock Bible
        Church through CRU, formerly Campus Crusade for Christ. They have been
        affiliated with CRU since 1993. Originally, Stacy worked directly with
        students at Oregon State University in Portland, providing an
        opportunity for them to meet with other Christians on campus and
        encouraging new believers in their faith. After serving in other
        locations, in 2012, he and his wife, Holly, returned to Portland, where
        he now coaches new CRU missionaries, preparing them to serve on college
        campuses throughout the northwest, and helping them to raise the
        necessary support for their mission. Stacy is a native of Stevensville,
        and actually came to Christ through a VBS program at Lone Rock Bible
        Church many years ago. He and and Holly reside in Portland, Oregon with
        their four children, Jack, Elley, and twins Henry and Lilly.</MissionCard
      >
      <MissionCard
        name="John & Wendy Hege"
        field="Alaska"
        email="heges@juno.com"
        address="16635 Centerfield Dr., #202 - Eagle River, AK 99577"
        >John & Wendy minister to the youth in Alaska. John is the associate
        director of <a href="http://www.cyak.org/" class="underline"
          >Covenant Youth of Alaska (CYAK)</a
        >. It takes time and consistency to gain an audience with natives from
        this area. John and Wendy sponsor and hold staff training retreats
        throughout Alaska. Their primary focus is training leaders through
        relational outreach and discipleship.</MissionCard
      >
      <MissionCard
        name="Luke and Erin Lacey"
        field="Montana"
        email="ljlacey1989@gmail.com"
        address="64748 Buffalo Street, Ravalli, MT 59863"
        >Through Rocky Mountain Bible Mission, Luke and Erin minister to the
        people in Flathead Valley. Luke is the pastor of Ravalli Bible
        Fellowship in Ravalli, MT.</MissionCard
      >
      <MissionCard
        name="David and Neli Loyola"
        field="Texas"
        email="dloyola@riogrande.edu"
        address="4300 S. Hwy. 281, Edinburg, TX 78539"
        >David and Neli serve as missionaries through Rio Grande Bible Institute
        (RGBI), in Edinburg, Texas, just a few miles from the Rio Grande River
        and the Mexico border. RGBI is accredited by the Association for
        Biblical Higher Education to grant certificates and degrees at the
        Associate, Bachelor, and Master's levels. Through Intercultural Studies
        they prepare students linguistically, culturally, and spiritually to
        serve God as missionaries in the Spanish-speaking world. Students come
        primarily from Mexico, Central America, and South America. Classes are
        taught in Spanish. David is currently a professor at the college.
        Together, he and Neli are involved in Rio Grande Global, an
        international outreach and ministry program of the college, which
        teaches small churches in Latin America how to train and provide
        missionaries for unreached people.</MissionCard
      >

      <MissionCard
        name="Melissa Mattingly"
        field="Georgia"
        address="c/o ETHNOS 360, 1000 E. First St., Sanford, FL 21771"
        >Melissa is now working with ETHNOS 360 in the finance department at
        their Florida headquarters. With her former service on the field in
        Indonesia, she is very skilled in improving the overall effectiveness of
        the mission's international efforts.</MissionCard
      >
    </div>
  </div>
  <div class="flex justify-center items-center bg-gray-200 py-3">
    <div class="text-3xl font-bold text-gray-800">International</div>
  </div>
  <div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <MissionCard name="Kevin and Lavinia" field="Israel"
        >Kevin and Lavinia work among Messianic Jews, Arab Christians and
        international Christian students living and studying in Israel. Their
        primary focus is to reduce barriers that exist between believers who
        remain divided because of their cultural backgrounds, and unite them
        into one believing body in Christ. Kevin teaches God's word all over
        Israel; he holds seminars on topics such as “Understanding Judaism” and
        Unveiling Islam,” as well as training students to lead groups in their
        own communities. From their home in Jerusalem they host Bible study
        groups, monthly get-togethers, women's meetings, prayer groups, and
        individual counseling, Part of their ministry is teaching/encouraging
        Christians on how to reach Jewish and Muslim students around them. They
        look forward to helping students live out Acts 1:8. Pray for their
        growing family - for their growth together in ministry and for the
        Lord's provision as they pursue God's calling. “We don't think of living
        in Israel during war as an unbearable burden that the Lord has heaved
        upon us. We get to live here in this broken country, minister to its
        people, and be daily reminded that our lives are in His hands.”</MissionCard
      >
      <!-- <MissionCard
        name="Armando and Ellie Gonzalez"
        field="Mexico"
        email="janetwest@prodigy.net.mx"
        >Armando and Ellie are continuing the work began by Janet West in
        Ahuehuezingo, Mexico. Their primary focus is reaching children through
        Bible clubs in Mexico. They reach into four local communities where he
        teaches Kid's Bible Clubs in those communities. The Lord has also given
        them the opportunity to start a church in Ahuehuezingo. Pray for
        strength and closeness for he and his wife as they minister together.</MissionCard
      > -->
      <MissionCard
        name="Peter and Juddy Odanga"
        field="Kenya"
        email="peterodanga@wol.org"
        address="Word of Life Ministries, PO Box 600, Schroon Lake, NY 12870"
        >The Odangas are involved in the evangelism and discipleship of youth.
        Their ministries include Bible clubs in public schools and churches,
        sports outreach, Islamic outreach, and prison ministry. Peter is also
        serving as Field Director for Word of Life in Kenya.</MissionCard
      >
      <MissionCard name="Kefah and Edinah Thomas" field="Kenya"
        >Kefah is Pastor of Penda Church near his home on the outskirts of
        Kisii, Kenya. At the age of 14, Kefah lost both parents, and without
        resources or family, he was forced to live on the streets. After two
        years, through the grace of God, he was found by a local pastor, and was
        given shelter in a small Christian orphanage, where he came to know
        Jesus, stayed for many years, and eventually became youth pastor. When
        his mentor/Pastor passed away, Kefah returned to his home village and
        began a small church. Penda Church and Pastor Kefah now run an orphanage
        which 20-25 children and teens call home. They are taught the word of
        God, and housed and fed by Kefah's family and by members of the church.
        Pray for God's wisdom for the Thomas's and Penda Church as they provide
        for the orphans in their care and as they preach the gospel with their
        lives. Pray also for God's provision and sustaining support each day. In
        their part of the world, there are always health issues, hunger issues,
        safety issues, but faith in God is their hope and trust.</MissionCard
      >
      <MissionCard name="Filemon and Martha Zanabriga" field="Mexico"
        >Through God's directing, Filemon came to faith in Christ while working
        in the Bitterroot Valley of Montana. Lone Rock Bible Church was able to
        come to his aid and loved him through many struggles. God is now using
        Filemon and his wife Martha to minister in Filemon's home state of
        Oaxaca where he is an itinerant pastor. Pray for the Lord's provision
        and direction through Martha's medical challenges and guidance as they
        seek to do His will. As a church, we regularly put together work teams
        for short term mission trips to assist their ministry.
      </MissionCard>
    </div>
  </div>
</Layout>
