---
interface Props {
  question?: string;
}
const { question } = Astro.props;
---

<div class="w-full max-w-2xl rounded-lg px-1 pt-1">
  <div class="bg-black bg-opacity-60 p-4 rounded-lg flex flex-wrap">
    {
      question && (
        <span class="font-semibold mb-2 font-vbs text-2xl text-cyan-300 w-full text-center">
          {question}:
        </span>
      )
    }
    <span class="text-gray-100 font-vbs text-xl w-full text-center"
      ><slot /></span
    >
  </div>
</div>
