---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import ImageHeader from "../components/ImageHeader.astro";
import contactImage from "../images/pages/contact-us.jpg";
---

<Layout title="Contact">
  <ImageHeader title="Contact Us" image={contactImage} />
  <div class="my-10">
    <form
      method="POST"
      id="form"
      class="bg-white p-8 rounded shadow-md w-96 mx-auto"
    >
      <input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE" />

      <div class="mb-4">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
          >Name</label
        >
        <input
          type="text"
          name="name"
          id="name"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:border-lrbc-red"
          required
        />
      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
          >Email</label
        >
        <input
          type="email"
          name="email"
          id="email"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:border-lrbc-red"
          required
        />
      </div>

      <div class="mb-4">
        <label for="message" class="block text-gray-700 text-sm font-bold mb-2"
          >Message</label
        >
        <textarea
          rows="5"
          name="message"
          id="message"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:border-lrbc-red"
          required></textarea>
      </div>

      <div class="mb-4">
        <div class="h-captcha" data-captcha="true"></div>
      </div>

      <button
        type="submit"
        class="bg-lrbc-red text-white px-4 py-2 rounded hover:bg-lrbc-red focus:outline-none focus:shadow-outline-lrbc-red"
        >Submit Form</button
      >

      <div id="result" class="mt-4 text-green-500"></div>
    </form>

    <script src="https://web3forms.com/client/script.js" async defer></script>

    <script>
      // Your JavaScript code here
    </script>
  </div>

  <!-- Required for hCaptcha -->
  <script src="https://web3forms.com/client/script.js" async defer></script>
</Layout>
