---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard";
import Streaming from "../components/Streaming.astro";
import ContentCard from "../components/ContentCard.astro";
import loveGod from "../images/pages/love-God.jpg";
import loveOthers from "../images/pages/love-others.jpg";
import impactWorld from "../images/pages/impact-world.jpg";
import RMBM from "../images/pages/RMBM.png";
import Hero from "../components/Hero.astro";
---

<Layout>
  <Hero />
  <ContentCard
    title="Love God"
    image={loveGod}
    alt="Person in worship with hands raised, expressing devotion and love for God"
    loading="eager"
    >We love, because He first loved us. We seek to honor God in everything we
    do, from our <a href="/visit" class="underline">weekly worship service</a> to
    personal time with Him. We firmly believe that God does not call any of us to
    be spectators within the local church - but active and contributing participants.
    God gives each of us strengths and gifts to help encourage and build up the local
    church. All of the ministries within Lone Rock Bible Church are areas where you
    can use your strengths and passions to glorify God through service.</ContentCard
  >
  <ContentCard
    title="Love Others"
    image={loveOthers}
    alt="Hands reaching out in compassion and service to others in the community"
    loading="eager"
    >At Lone Rock Bible Church, we believe that the church should be active
    within our local community. Our first priority of service is our local
    community. There are many needs within the Lone Rock and Stevensville
    communities that allow us to show the love of Christ to the community around
    us. Contact the church office to see how Lone Rock Bible Church is currently
    serving our community and how you can get involved.</ContentCard
  >
  <ContentCard
    title="Impact the World"
    image={impactWorld}
    alt="Diverse group of people representing global missions and worldwide ministry impact"
    >While our first priority of service is our local community - Christ clearly
    tells us and demonstrates that we need to have a passion and vision for
    others around the world. At Lone Rock Bible Church, we strive to offer
    opportunities of service that go beyond our community and even beyond the
    borders of the United States to make an impact for the cause of Christ
    around the world.
  </ContentCard>
  <div
    class="max-w-screen-xl mx-auto mt-5 grid md:grid-cols-2 gap-y-0 md:gap-8"
  >
    <div>
      <!-- <Events /> -->
      <EventCard apiEndpoint="/api/main-calendar" client:visible />
    </div>
    <div>
      <Streaming />
    </div>
  </div>
  <div>
    <a href="https://rmbible.org/" target="_blank" rel="noopener noreferrer">
      <Image
        src={RMBM}
        alt="Rocky Mountain Bible Mission"
        class="mx-auto my-3"
      />
    </a>
  </div>
</Layout>
