---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="text-center mb-4">
    <h1 class="text-5xl font-bold mb-2 font-oswald">
      Welcome to Lone Rock Bible Church
    </h1>
    <p class="text-lg text-gray-700 font-oswald italic">
      It's not about me, it's not about you, it's all about Jesus.
    </p>
  </div>
  <p class="text-lg text-gray-700">
    Lone Rock Bible Church is a non-denominational family of believers located
    in the heart of the beautiful Bitterroot Valley in Montana. We would love to
    have you worship with us. Each week, we gather to worship, pray, and study
    and most of all lift up the name of Jesus in our community.
  </p>
</Layout>
