---
import ImageHeader from "../components/ImageHeader.astro";
import QandACard from "../components/QandACard.astro";
import visit from "../images/pages/visit.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Visit"
  description="Plan your visit to Lone Rock Bible Church. Sunday worship at 10 AM with nursery and kids programs. Located in Stevensville, MT. Visitors always welcome!"
  route="/visit"
>
  <ImageHeader
    image={visit}
    alt="Welcoming people to church"
    title="Visiting Lone Rock"
  />
  <QandACard q="The Worship Service"
    >The service starts at 10:00 AM, you are welcome to join us! We love to sing at
    Lone Rock and enjoy great music that seeks to exalt our Lord and Savior,
    Jesus Christ. The message is both powerful and practical for those who are
    just beginning their journey with Jesus Christ and those who have been on
    this amazing journey for many years.</QandACard
  >
  <QandACard q="Are there services for children? What about childcare?"
    >Yes! Nursery is available beginning at 9:45 AM for children up to 3 years.
    For children 4 through age 11 we offer Kids Sunday School during the main
    service. Kids are dismissed right before the sermon.</QandACard
  >

  <QandACard q="What about teens?"
    >We have a great group of teens that meet every Wednesday night at 6:30 PM.
    All junior high and high schoolers are welcome to attend. Teens will enjoy a
    lively discussion, games, snacks, music, and more!</QandACard
  >
  <QandACard q="What other activities do you have?">
    We have multiple Bible studies and small groups throughout the week:

    <ul>
      <li>Adult Sunday School - Sundays 9:00-9:45 AM</li>
      <!-- <li>
        Kids Bible Club (K-6th grade) - Wednesdays - 2:45 - 4:45 pm
        (September-March)
      </li> -->
      <!-- <li>Sermon Discussion Group - Mondays at 6:30pm</li> -->
      <li>Men's Fellowship - Tuesdays, 9:00 AM at Glen's Cafe</li>
      <li>
        Men's Fraternity - Wednesdays, 6:30 PM - contact office for further
        detail
      </li>
      <li>Ladies' Bible Study - Wednesdays, 10:00 AM-12:00 PM</li>
      <li>
        Ladies "Time Around God's Word", Wednesdays, 2:45-4:30 PM (September -
        May)
      </li>
      <li>
        Mom Life - 2nd & 4th Tuesday each month - 9:30-11:00 AM (September - May)
      </li>
    </ul>
  </QandACard>
</Layout>
