---
import moment from "moment";
const events: {
  date?: string;
  time?: string;
  eventExpires: string;
  title: string;
  description: string;
  eventLink?: {
    href: string;
    text: string;
  };
}[] = [
  {
    date: "June 24th thru 28th",
    eventExpires: "2024-06-28",
    title: "Vacation Bible School",
    description:
      "Kids K-6th grade are invited to join us for VBS. Contact us for more information!",
    // eventLink: { href: "/vbs", text: "Learn More" },
    time: "4-7PM",
  },
  {
    date: "May 2nd",
    eventExpires: "2024-05-02",
    title: "National Day of Prayer",
    description: "",
  },
  {
    title: "2024 Annual Shepherds’ Conference",
    eventExpires: "2024-04-18",
    date: "April 16-18",
    description:
      "The Rocky Mountain Bible Mission will be hosting the 2024 Annual Shepherds’ Conference from Tuesday, April 16 through Thursday, April 18 at Discovery Alliance Church in Missoula.",
    eventLink: {
      href: "https://rmbible.org/shepherds-conference",
      text: "Learn More or Register",
    },
  },
];

const currentEvents = events
  .filter(
    (event) =>
      !event.eventExpires ||
      moment(event.eventExpires, "YYYY-MM-DD").isSameOrAfter(moment(), "day")
  )
  .sort((a, b) => {
    const dateA = moment(a.eventExpires, "YYYY-MM-DD");
    const dateB = moment(b.eventExpires, "YYYY-MM-DD");
    return dateA.diff(dateB);
  })
  .splice(0, 3);
---

{
  currentEvents.length > 0 && (
    <div class="flex justify-center">
      <div class=" bg-neutral-100 p-8 rounded-lg shadow-md m-auto w-full">
        <h2 class="text-2xl font-semibold mb-4 font-oswald">Coming Events</h2>
        <div class="space-y-4">
          {currentEvents.map((event) => (
            <div class="border border-gray-300 p-4 rounded-md">
              <p class="text-gray-600 font-oswald">
                {event?.date ?? moment(event?.eventExpires).format("LL")}{" "}
                {event?.time ?? ""}
              </p>
              <h3 class="text-lg font-semibold font-oswald">{event?.title}</h3>
              <p class="text-gray-700">{event?.description}</p>
              {event?.eventLink && (
                <a href={event.eventLink.href} class="underline">
                  {event.eventLink.text}
                </a>
              )}
            </div>
          ))}
        </div>
      </div>
    </div>
  )
}
