---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faYoutube, faFacebook } from "@fortawesome/free-brands-svg-icons";
import { faAt, faHeadphones } from "@fortawesome/free-solid-svg-icons";
---

<footer class="bg-lrbc-red text-white relative bottom-0">
  <div class="container mx-auto text-center py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>
        <h3 class="text-lg font-semibold mb-2">Contact Us</h3>
        <p>Lone Rock Bible Church</p>
        <p>1142 Three Mile Creek Rd</p>
        <p>Stevensville, MT 59870</p>
        <p>Phone: 406.777.2592</p>
        <p>Email: info@lonerockbiblechurch.org</p>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-2">Weekly Schedule</h3>
        <p>Sunday Worship: 10AM</p>
        <p class="italic">Nursery available, Infant to 3 Years</p>
        <p>Kid's Sunday School: 10AM</p>
        <p>Sermon Discussion Group - Mondays at 6:30pm</p>
        <!-- <p>Wednesday Kid's Club: 2:45-4:45 PM </p> -->
        <p>Wednesday Youth Group: 6:30-8:30 PM</p>
        <!-- <p>Mom Life: 2nd & 4th Tuesdays 9:30-11:30am</p> -->
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-2">Connect With Us</h3>

        <div class="flex space-x-4 mt-2 justify-center">
          <a
            href="http://www.facebook.com/lrbcmt"
            class="text-white hover:text-gray-300"
            aria-label="Visit our Facebook page"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="sr-only">Visit our Facebook page</span>
            <FontAwesomeIcon
              icon={faFacebook}
              className="w-8 h-8"
              aria-hidden="true"
            />
          </a>

          <a
            href="https://www.youtube.com/@LoneRockBibleChurch"
            class="text-white hover:text-gray-300"
            aria-label="Visit our Facebook page"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="sr-only">Watch Us On YouTube</span>
            <FontAwesomeIcon
              icon={faYoutube}
              className="w-8 h-8"
              aria-hidden="true"
            />
          </a>

          <a
            href="https://lonerockbiblechurch.sermon.net/"
            class="text-white hover:text-gray-300"
            aria-label="Listen to Sermons Online"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="sr-only">Listen to Sermons Online</span>
            <FontAwesomeIcon
              icon={faHeadphones}
              className="w-8 h-8"
              aria-hidden="true"
            />
          </a>

          <a
            href="/contact"
            class="text-white hover:text-gray-300"
            aria-label="Contact Us"
          >
            <span class="sr-only">Contact Us</span>
            <FontAwesomeIcon
              icon={faAt}
              className="w-8 h-8"
              aria-hidden="true"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
