---

---

<div class="flex justify-center">
  <div class="bg-neutral-100 p-8 rounded-lg shadow-md m-auto w-full">
    <h2 class="text-2xl font-semibold mb-4 font-oswald">Watch Online</h2>
    <div class="space-y-4">
      <div class="border border-gray-300 p-4 rounded-md">
        <p class="text-gray-600 font-oswald">Current Sermon Series:</p>
        <h3 class="text-lg font-semibold font-oswald">Ecclesiastes</h3>
        <p class="text-gray-700"></p>
      </div>
      <div class="border border-gray-300 p-4 rounded-md">
        <p class="text-gray-600 font-oswald">Facebook</p>
        <h3 class="text-lg font-semibold font-oswald">
          <a
            href={`http://www.facebook.com/lrbcmt`}
            target="_blank"
            rel="noopener noreferrer"
            class="underline"
            >Watch us live on Facebook every Sunday at 10AM Mountain Time.</a
          >
        </h3>
      </div>
      <div class="border border-gray-300 p-4 rounded-md">
        <p class="text-gray-600 font-oswald">YouTube</p>
        <h3 class="text-lg font-semibold font-oswald">
          <a
            href={`https://www.youtube.com/@LoneRockBibleChurch`}
            target="_blank"
            rel="noopener noreferrer"
            class="underline"
            >Watch us live on YouTube every Sunday at 10AM Mountain Time.</a
          >
        </h3>
      </div>
      <div class="border border-gray-300 p-4 rounded-md">
        <p class="text-gray-600 font-oswald">Past Sermons</p>
        <h3 class="text-lg font-semibold font-oswald">
          <a
            href={`http://lonerockbiblechurch.sermoncampus.info/`}
            target="_blank"
            rel="noopener noreferrer"
            class="underline">Listen to past sermons archived any time</a
          >
        </h3>
      </div>
    </div>
  </div>
</div>
