---
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../../styles/global.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <SEO
      title={`Lone Rock Bible Church${title ? ` | ${title}` : ""}`}
      description="Lone Rock Bible Church is a non-denominational family of believers located in the heart of the beautiful Bitterroot Valley in Montana. We would love to have you worship with us."
      openGraph={{
        basic: {
          title: "Lone Rock Bible Church",
          type: "website",
          image:
            "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
        },
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.svg", type: "image/svg+xml" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content:
              "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          },
          { name: "twitter:title", content: "Lone Rock Bible Church" },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
  </head>
  <body class="bg-neutral-400">
    <div class="flex flex-col min-h-screen">
      <Navbar />
      <div
        class="pt-2 px-5 mx-5 mt-2 mb-4 bg-white bg-opacity-90 rounded-lg shadow-md flex-1"
      >
        <slot />
      </div>
      <Footer />
    </div>

    <style is:global>
      /* html {
        background: url("/images/mountains-background.jpg") no-repeat center
          center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      } */

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
    <script>
      const navToggle = document.getElementById("nav-toggle");
      const navContent = document.getElementById("nav-content");
      if (navToggle && navContent) {
        navToggle.onclick = function () {
          navToggle.classList.toggle("border");
          navContent.classList.toggle("hidden");
        };
      }
    </script>
  </body>
</html>
