---
import { Image } from "astro:assets";
import IconButton from "../../components/IconButton.astro";
import VBSBullet from "../../components/events/VBSBullet.astro";
import vbsLogo from "../../images/events/vbs-logo.png";
import vbsHeader from "../../images/events/vbs.webp";
import Layout from "../../layouts/Layout.astro";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
</style>
<Layout
  title="Camp Kilamanjaro VBS"
  image="https://lonerockbiblechurch.com/images/events/vbs.png"
  description="Camp Kilamanjaro VBS - Set your compasses for Africa and prepare for an EPIC expedition at Camp Kilamanjaro!"
>
  <div class="-mx-2">
    <Image
      src={vbsHeader}
      alt={"African Landscape"}
      class="w-full object-cover h-64 relative"
      loading="eager"
    />

    <Image
      src={vbsLogo}
      alt="Camp Kilamanjaro VBS Logo"
      class="mx-auto md:max-w-[40%] xs:max-w-full relative inset-x-0 -top-64 z-10"
    />
  </div>
  <div
    class="container mx-auto p-4 flex justify-center items-center -mt-72 flex-col"
  >
    <VBSBullet question="Dates">Sunday June 23 - Thursday June 27</VBSBullet>
    <VBSBullet question="Time">5:00 PM - 8:00 PM (With dinner)</VBSBullet>
    <VBSBullet question="Ages"
      >5-12 (Staff kids class/Nursery available)</VBSBullet
    >
    <VBSBullet
      >At Camp Kilamanjaro, kids will go on an amazing adventure while learning
      true wisdom comes from the one true, all-wise God, who wants us to be
      wise!</VBSBullet
    >
    <VBSBullet
      >Set your compasses for Africa and prepare for an EPIC expedition at Camp
      Kilamanjaro!</VBSBullet
    >
    <VBSBullet question="Contact"
      >Shauna Pernsteiner <a href="tel:+1406-361-9973">406-361-9973</a> / <a
        href="mailto:spernsteiner@live.com"
        class="underline">spernsteiner@live.com</a
      ></VBSBullet
    >
  </div>
  <div class="flex justify-center mb-4">
    <IconButton href="/documents/kilamanjaro.pdf" download>
      <svg
        class="w-6 h-6 text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
        slot="icon"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"
        ></path>
      </svg>
      Download Flyer
    </IconButton>
  </div>
</Layout>
