---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import vbsHeader from "../../images/events/vbs.webp";
import vbsLogo from "../../images/events/vbs-logo.png";
import VBSBullet from "../../components/events/VBSBullet.astro";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
</style>
<Layout title="Camp Kilamanjaro VBS">
  <div class="-mx-2 -mb-48">
    <Image
      src={vbsHeader}
      alt={"African Landscape"}
      class="w-full object-cover h-64 relative"
      loading="eager"
    />

    <Image
      src={vbsLogo}
      alt="Camp Kilamanjaro VBS Logo"
      class="mx-auto w-full md:max-w-[40%] xs:max-w-full relative inset-x-0 -top-64 z-10"
    />
  </div>
  <div
    class="container mx-auto p-4 flex justify-center items-center -mt-72 flex-col"
  >
    <VBSBullet question="Dates">Sunday June 23 - Thursday June 27</VBSBullet>
    <VBSBullet question="Time">5:00 PM - 8:00 PM (With dinner)</VBSBullet>
    <VBSBullet question="Ages"
      >5-12 (Staff kids class/Nursery available)</VBSBullet
    >
    <VBSBullet
      >At Camp Kilamanjaro, kids will go on an amazing adventure while learning
      true wisdom comes from the one true, all-wise God, who wants us to be
      wise!</VBSBullet
    >
    <VBSBullet
      >Set your compasses for Africa and prepare for an EPIC expedition at Camp
      Kilamanjaro!</VBSBullet
    >
    <VBSBullet question="Contact"
      >Shauna Pernsteiner <a href="tel:+1406-361-9973">406-361-9973</a> / <a
        href="mailto:spernsteiner@live.com"
        class="underline">spernsteiner@live.com</a
      ></VBSBullet
    >
  </div>
</Layout>
